<form action="/auth/sessions" method="post">
  <label for="email">Email:</label>
  <input id="email" type="text" class="form-control email" name="session[email]">
  <label for="password">Password:</label>
  <input id="password" type="text" class="form-control password" name="session[password]">
  <button type="submit" class="btn-success">Sign In</button>
</form>
