{"http_interactions":[{"request":{"method":"post","uri":"http://app.lvh.me:3200/auth/sessions/signed_in","body":{"encoding":"UTF-8","string":"{\"user_id\":1,\"token\":\"valid\"}"},"headers":{"Content-Type":["application/json; charset=UTF-8"]}},"response":{"status":{"code":404,"message":"Not Found"},"headers":{"Content-Type":["application/json; charset=utf-8"]},"body":{"encoding":"UTF-8","string":"{\"error\":\"Token is invalid\"}"},"http_version":null},"recorded_at":"Fri, 31 Mar 2017 08:17:54 GMT"}],"recorded_with":"VCR 3.0.3"}