{"http_interactions":[{"request":{"method":"post","uri":"http://app.lvh.me:3200/auth/sessions/signed_in","body":{"encoding":"UTF-8","string":"{\"user_id\":1,\"token\":\"valid\"}"},"headers":{"Content-Type":["application/json; charset=UTF-8"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["W/\"99914b932bd37a50b983c5e7c90ae93b\""]},"body":{"encoding":"UTF-8","string":"{}"},"http_version":null},"recorded_at":"Fri, 24 Mar 2017 04:12:58 GMT"}],"recorded_with":"VCR 3.0.3"}