{"http_interactions":[{"request":{"method":"post","uri":"http://app.lvh.me:3200/auth/sessions/validate","body":{"encoding":"UTF-8","string":"{\"ticket\":\"ticket\",\"app_id\":4}"},"headers":{"Content-Type":["application/json; charset=UTF-8"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["W/\"5b5bc431ce29f6a2dc8d4f8619f74174\""]},"body":{"encoding":"UTF-8","string":"{\"id\":1,\"email\":\"dev@tinypulse.com\",\"first_name\":\"TINYpulse\",\"last_name\":\"Devs\",\"token\":\"token\",\"current_permission\":{\"id\":78697,\"app_id\":4,\"app_key\":\"tp_integrate\",\"app_name\":\"TINYpulse Integrate\",\"app_url\":\"http://localhost:3000\",\"user_id\":1,\"role_id\":19,\"role_name\":\"integrate_admin\",\"organization_id\":11,\"organization_name\":\"TINYpulse \"},\"active_permissions\":[{\"id\":78697,\"app_id\":4,\"app_key\":\"tp_integrate\",\"app_name\":\"TINYpulse Integrate\",\"app_url\":\"http://localhost:3000\",\"user_id\":1,\"role_id\":19,\"role_name\":\"integrate_admin\",\"organization_id\":11,\"organization_name\":\"TINYpulse \"}],\"app_permissions\":[{\"id\":2873,\"app_id\":1,\"app_key\":\"tp_engage\",\"app_name\":\"TINYpulse Engage\",\"app_url\":\"http://app.lvh.me:3000/engage\",\"user_id\":1,\"role_id\":2,\"role_name\":\"super_admin\",\"organization_id\":11,\"organization_name\":\"TINYpulse \"},{\"id\":78697,\"app_id\":4,\"app_key\":\"tp_integrate\",\"app_name\":\"TINYpulse Integrate\",\"app_url\":\"http://localhost:3000\",\"user_id\":1,\"role_id\":19,\"role_name\":\"integrate_admin\",\"organization_id\":11,\"organization_name\":\"TINYpulse \"},{\"id\":79132,\"app_id\":6,\"app_key\":\"tp_tps\",\"app_name\":\"TINYpulse TPS\",\"app_url\":\"http://localhost:3000\",\"user_id\":1,\"role_id\":22,\"role_name\":\"tps_access\",\"organization_id\":11,\"organization_name\":\"TINYpulse \"}]}"},"http_version":null},"recorded_at":"Mon, 22 May 2017 16:15:07 GMT"}],"recorded_with":"VCR 3.0.3"}