{"http_interactions":[{"request":{"method":"post","uri":"http://app.lvh.me:3200/auth/sessions/validate","body":{"encoding":"UTF-8","string":"{\"ticket\":\"invalid ticket\"}"},"headers":{"Content-Type":["application/json; charset=UTF-8"]}},"response":{"status":{"code":401,"message":"Unauthorized"},"headers":{"Content-Type":["application/json; charset=utf-8"]},"body":{"encoding":"UTF-8","string":"{\"errors\":\"Ticket is invalid\"}"},"http_version":null},"recorded_at":"Fri, 31 Mar 2017 08:08:17 GMT"}],"recorded_with":"VCR 3.0.3"}