{"http_interactions":[{"request":{"method":"post","uri":"http://app.lvh.me:3200/auth/sessions/validate","body":{"encoding":"UTF-8","string":"{\"ticket\":\"ticket\"}"},"headers":{"Content-Type":["application/json; charset=UTF-8"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["W/\"0d2c1fcb0a81c5332c95daff5eda8fd9\""]},"body":{"encoding":"UTF-8","string":"{\"id\":33225,\"email\":\"hieu@tinypulse.com\",\"first_name\":\"Hieu\",\"last_name\":\"Map\",\"token\":\"token\",\"avatar_url\":\"//www.gravatar.com/avatar/b96da6fef26c9e907a734c417fbb78e8\",\"active_permissions\":[{\"id\":99392,\"app_id\":4,\"user_id\":33225,\"role_id\":17,\"role_name\":\"manager\",\"organization_id\":11,\"organization_name\":\"TINYpulse \"}]}"},"http_version":null},"recorded_at":"Fri, 24 Mar 2017 04:01:16 GMT"}],"recorded_with":"VCR 3.0.3"}